body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto;
  background-color: rgb(240, 243, 245);
}
* {
  box-sizing: border-box;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  text-transform: none !important;
}
